{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Create New Post - Django Blog{% endblock %}

{% block content %}
    <div class="post-form-container">
        <h1>Create New Post</h1>
        
        <form method="post">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <div class="error">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            
            <div class="form-actions">
                <button type="submit" class="btn btn-submit">Create Post</button>
                <a href="{% url 'post-list' %}" class="btn btn-cancel">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
