<!-- Update your existing blog/templates/blog/post_detail.html -->
{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} - Django Blog{% endblock %}

{% block content %}
<article class="post-detail">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="post-header">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-meta">
            <div class="author-info">
                {% if post.author.profile.profile_pic %}
                    <img src="{{ post.author.profile.profile_pic.url }}" 
                         alt="{{ post.author.username }}" 
                         class="author-img">
                {% else %}
                    <div class="author-img-placeholder">
                        {{ post.author.username|first|upper }}
                    </div>
                {% endif %}
                <div class="author-details">
                    <span class="author-name">{{ post.author.username }}</span>
                    <span class="post-date">
                        <i class="fas fa-calendar"></i>
                        {{ post.published_date|date:"F d, Y H:i" }}
                    </span>
                </div>
            </div>
            
            {% if post.author == user %}
                <div class="post-actions">
                    <a href="{% url 'post-update' post.pk %}" class="btn btn-edit">
                        <i class="fas fa-edit"></i> Edit Post
                    </a>
                    <a href="{% url 'post-delete' post.pk %}" class="btn btn-delete">
                        <i class="fas fa-trash"></i> Delete Post
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    
    <div class="post-content">
        {{ post.content|linebreaks }}
    </div>
    
    <div class="post-footer">
        <a href="{% url 'post-list' %}" class="btn btn-back">
            <i class="fas fa-arrow-left"></i> Back to Posts
        </a>
    </div>
</article>
{% endblock %}